@using Accounting.Domain.Convertors
@using Accounting.Application.Interfaces
@using Accounting.Application.Utilities
@model Accounting.Domain.Models.Orders.Order
@inject ICustomerService CustomerService
@inject IOrderService OrderService
@inject IGroupMenuService GroupMenuService
@{
    ViewData["Title"] = "ثبت سفارش";

    var groupMenus = GroupMenuService.GetSelectListItem();
}

<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <div class="breadcrumb-wrapper">
                    <ol class="breadcrumb p-0 mb-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="Order" asp-action="Index">لیست سفارشات</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">ثبت سفارش</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<form method="post">
    <input type="hidden" asp-for="UserId" value="@User.GetUserId()" />
    <section class="invoice-edit-wrapper">
        <div class="row">
            <!-- invoice view page -->
            <div class="col-xl-9 col-md-8 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body pb-0 mx-25">
                            <!-- header section -->
                            <div class="row mx-0">
                                <div class="col-xl-4 col-md-12 d-flex align-items-center pl-0">
                                    <h6 class="invoice-number mr-75 mb-0">صورتحساب</h6>
                                    <input type="text" readonly="readonly" asp-for="InvoiceNumber" class="form-control pt-25 w-50" value="@OrderService.GetInvoiceNumber()">
                                </div>
                                <div class="col-xl-8 col-md-12 px-0 pt-xl-0 pt-1">
                                    <div class="invoice-date-picker d-flex align-items-center justify-content-xl-end flex-wrap">
                                        <div class="d-flex align-items-center">
                                            <small class="text-muted mr-75">تاریخ تنظیم: </small>
                                            <fieldset class="d-flex ">
                                                <input type="text" readonly="readonly" class="form-control  mr-2 mb-50 mb-sm-0" value="@DateTime.Now.ToShamsi()">
                                            </fieldset>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <small class="text-muted mr-75">ساعت تنظیم : </small>
                                            <fieldset class="d-flex justify-content-end">
                                                <input type="text" readonly="readonly" class="form-control mb-50 mb-sm-0" value="@DateTime.Now.ToString("HH:mm:ss")">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- logo and title -->
                            <!-- invoice address and contact -->
                            <div class="row invoice-info">
                                <div class="col-lg-12 col-md-12 mt-25">
                                    <fieldset class="invoice-address form-group">
                                        <label asp-for="CustomerId"></label>
                                        <div class="form-group">
                                            <select asp-for="CustomerId" class="select2 form-control" asp-items="@CustomerService.GetSelectListItem()">
                                            </select>
                                            <span asp-validation-for="CustomerId" class="text-danger"></span>
                                        </div>
                                    </fieldset>
                                    <fieldset class="invoice-address form-group">
                                        <input type="text" asp-for="Phone" class="form-control" placeholder="تلفن">
                                    </fieldset>
                                    <fieldset class="invoice-address form-group">
                                        <textarea class="form-control" asp-for="Address" rows="2" placeholder="آدرس"></textarea>
                                    </fieldset>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="card-body pt-50">
                            <!-- product details table-->
                            <div class="invoice-product-details ">
                                <div class="form invoice-item-repeater">
                                    <div data-repeater-list="OrderDetails">
                                        <div class="removeStyle" data-repeater-item>
                                            <div class="row mb-50">
                                                <div class="col-3 invoice-item-title">گروه منو</div>
                                                <div class="col-3 invoice-item-title">غذا</div>
                                                <div class="col-2 invoice-item-title">قیمت</div>
                                                <div class="col-2 invoice-item-title">تعداد</div>
                                                <div class="col-2  invoice-item-title">قیمت نهایی</div>
                                            </div>
                                            <div class="invoice-item d-flex border rounded mb-1 col-12">
                                                <div class="invoice-item-filed row pt-1 px-1 col-12">
                                                    <div class="col-md-3 col-12  form-group">
                                                        <select name="OrderDetails[0][GroupMenuId]" class="form-control " asp-items="@groupMenus" onchange="GetFoods(event)">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3 col-12  form-group">
                                                        <select name="OrderDetails[0][FoodId]" class="form-control" onchange="GetFood(event)">
                                                        </select>
                                                    </div>

                                                    <div class="col-md-2 col-12 form-group">
                                                        <input name="OrderDetails[0][Price]" type="number" readonly="readonly" class="form-control" placeholder="0">
                                                    </div>
                                                    <div class="col-md-2 col-12 form-group">
                                                        <input name="OrderDetails[0][Count]" autocomplete="off" type="number" class="form-control" placeholder="0" onkeyup="GetFinalPrice(event)" onkeydown="GetFinalPrice(event)" onkeypress="GetFinalPrice(event)" onblur="GetFinalPrice(event)">
                                                    </div>
                                                    <div class="col-md-2 col-12 form-group">
                                                        <input name="OrderDetails[0][FinalPrice]" data-position="FinalPrice" readonly="readonly" class="form-control" placeholder="0">
                                                    </div>


                                                </div>
                                                <div data-repeater-delete class=" cursor-pointer invoice-icon d-flex flex-column justify-content-between border-left p-25">
                                                    <span class="cursor-pointer" data-repeater-delete>
                                                        <i class="bx bx-x" data-repeater-delete></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col p-0">
                                            <button class="btn btn-light-primary btn-sm" data-repeater-create type="button">
                                                <i class="bx bx-plus"></i>
                                                <span class="invoice-repeat-btn">افزودن آیتم</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- invoice subtotal -->
                            <hr>
                            <div class="invoice-subtotal pt-50">
                                <div class="row">
                                    <div class="col-md-5 col-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="یادداشت مشتری">
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-7 offset-lg-2 col-12">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item d-flex justify-content-between border-0 py-0">
                                                <span class="invoice-subtotal-title">جمع صورتحساب</span>
                                                <h6 class="invoice-subtotal-value mb-0" id="BillTotal">0 تومان</h6>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- invoice action  -->
            <div class="col-xl-3 col-md-4 col-12">

                <div class="invoice-payment">
                    <div class="invoice-payment-option mb-2">
                        <label asp-for="TypePrice"></label>
                        <select asp-for="TypePrice" class="select2 form-control" asp-items="@OrderService.GetTypePrice()">
                        </select>
                        <span asp-validation-for="TypePrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="invoice-payment">
                    <div class="invoice-payment-option mb-2">
                        <label asp-for="TypeService"></label>
                        <select asp-for="TypeService" class="select2 form-control" asp-items="@OrderService.GetTypeService()">
                        </select>
                        <span asp-validation-for="TypeService" class="text-danger"></span>
                    </div>
                </div>

                <button type="submit" class="btn btn-success btn-block">ثبت</button>

            </div>
        </div>
    </section>
</form>

@section CustomStyles
    {
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/forms/select/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/pages/app-invoice.css">
    }
@section Script
{

    <script src="/assets/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="/assets/js/scripts/forms/select/form-select2.js"></script>

    <script src="/assets/vendors/js/forms/repeater/jquery.repeater.min.js"></script>
    <script src="/assets/js/scripts/pages/app-invoice.js"></script>

    <script>

        $(document).ready(function () {
            $('.removeStyle').css('display', 'block');
        });

    </script>

    <script>
        $("#CustomerId").change(function () {
            $("#Phone").val('');
            $("#Address").val('');
            $.getJSON("/Home/GetCustomer/" + $("#CustomerId :selected").val(),
                function (data) {
                    if (data) {
                        $("#Phone").val(data.phone);
                        $("#Address").val(data.address);
                    }
                });
        });
    </script>
    <script>
        function GetFoods(e) {

            var val = e.target.value;
            if (!val) {
                return;
            }

            var name = e.target.name;
            var food = name.replace('[GroupMenuId]', '[FoodId]');

            $(`select[name="${food}"]`).empty();

            $.getJSON("/Home/GetFoods/" + val,
                function (data) {
                    $.each(data,
                        function () {
                            $(`select[name="${food}"]`).append('<option value=' + this.value + '>' + this.text + '</option>');
                        });

                });

            var price = food.replace('[FoodId]', '[Price]');

            $(`input[name="${price}"]`).val(null);

            var count = price.replace('[Price]', '[Count]');

            $(`input[name="${count}"]`).val(null);

            var finalPrice = count.replace('[Count]', '[FinalPrice]');

            $(`input[name="${finalPrice}"]`).val(0);
            Calculation();

        }
    </script>

    <script>
        function GetFood(e) {

            var val = e.target.value;
            if (!val) {
                return;
            }

            var name = e.target.name;
            var price = name.replace('[FoodId]', '[Price]');

            $(`input[name="${price}"]`).val('');

            $.getJSON("/Home/GetFood/" + val,
                function (data) {
                    if (data) {
                        $(`input[name="${price}"]`).val(data.price);
                    }
                });


            var count = price.replace('[Price]', '[Count]');

            $(`input[name="${count}"]`).val(null);

            var finalPrice = count.replace('[Count]', '[FinalPrice]');

            $(`input[name="${finalPrice}"]`).val(0);
            Calculation();

        }
    </script>

    <script>
        function GetFinalPrice(e) {

            var val = e.target.value;
            var name = e.target.name;

            var finalPrice = name.replace('[Count]', '[FinalPrice]');
            if (!val) {
                $(`input[name="${finalPrice}"]`).val(0);
                            Calculation();
                return;
            }



            var nameCount = name;
            var namePrice = name.replace('[Count]', '[Price]');



            var count = $(`input[name="${nameCount}"]`).val();
            var price = $(`input[name="${namePrice}"]`).val();


            $(`input[name="${finalPrice}"]`).val(count * price);
            Calculation();
        }

        function Calculation() {

            var total = 0;

            $.each($("[data-position=FinalPrice]"), function (index, item) {
                total+=parseInt(item.value);
            });




            $("#BillTotal").html(`${String(total).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")} تومان`);
        }




    </script>

}
